<div class="sidebar">
	<div class="box block">
		<div class="title">Navigation</div>
		<ul class="navi">
			<li><a class="active" href="#">Welcome</a></li>
			<li><a href="#">About Me</a></li>
			<li><a href="#">Articles</a></li>
			<li><a href="#">Portfolio</a></li>						
		</ul>
	</div>
	<div class="box block">
		<div class="title">Social Widget</div>
		<ul class="social">
			<li><a class="icon-social rss" href="#">rss</a></li>
			<li><a class="icon-social facebook" target="_blank" href="https://www.facebook.com/truong.vanthanh.146">Facebook</a></li>
			<li><a class="icon-social twitter" target="_blank" href="https://twitter.com/TruongVanThanh3">Twitter</a></li>
			<li><a class="icon-social googleplus" target="_blank" href="https://plus.google.com/u/0/112763136048980394785/about">Google plus</a></li>
			<li><a class="icon-social linkin" target="_blank" href="http://lnkd.in/U7WwEJ">linkin</a></li>
			<li><a class="icon-social github" target="_blank" href="https://github.com/tvthanh">Github</a></li>
			<li><a class="icon-social youtube" target="_blank" href="https://youtube.com">Youtube</a></li>
		</ul>
	</div>
	<div class="box block">
		<div class="title">The Articles Lastest</div>
		<ul class="navi">
			<li><a href="#">Responsive design web là gì?</a></li>
			<li><a href="#">Tìm hiểu về css/sass với thư viện compass</a></li>
			<li><a href="#">Xu hướng của các designer và front-end dev</a></li>
			<li><a href="#">20 slideshow ảnh cần cho web</a></li>
			<li><a href="#">bxslider hữu dụng cho web designer</a></li>
		</ul>
	</div>				
</div>