/*================================================================================================
	Stylesheet SCSS - Content
==================================================================================================*/
.content {
	padding: 10px 0;
	overflow: hidden;
}

.box {
	padding: 10px;
}

.block {
	margin: 0 0 15px 0;
	border-radius: 3px;
	border: 2px solid rgba(105, 105, 105, 0.32);
	@include box-shadow(rgba(105, 105, 105, 0.32) 2px 3px 10px);
	background-color: #efefef;
}

.main {
	width: 70%;
	min-height: 750px;
	float: left;
}

.sidebar {
	width: 28%;
	float: left;
	margin: 0 0 0 1%;
}

.title {
	font-family: aachenb;
	border-bottom: 2px solid #ccc;
	font-size: 1.25em;
	padding: 5px;
}

.info-detail {
	margin: 15px 0 0 0;
	b {
		width: 100px;
		display: block;
		float: left;
	}
	.mail-me {
		text-decoration: underline;
		color: rgb(6, 93, 247);
	}
}

.article {
	margin: 15px 0 0 0;
	.title-article {
		color: #458833;
	}
	.date {
		color: #3e3e3e;
		font-size: 0.75em;
		font-style: italic;
		margin: 3px 0 7px 0;
	}
}

.navi {
	li {
		border-bottom: 1px solid rgba(177, 176, 176, 0.63);
		&:last-child {
			border-bottom: 0;
		}
		a {
			padding: 10px;
			color: rgba(63, 68, 68, 0.77);
			font-weight: 600;
			display: block;
			background-color: #efefef;
			&:hover, &:focus, &.active {
				color: #fff;
				background-color: rgba(130, 133, 133, 0.65);
			}
		}
	}
}

.social {
	padding: 5px 1px 15px;
	overflow: hidden;
	background-color: #efefef;
	.icon-social {
		background: url(/img/social_icons.png) no-repeat 0 0;
		width: 46px;
		height: 46px;
		float: left;
		margin: 10px 1px 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
		opacity: 0.6;
		&:hover, &:focus {
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
		}
		&.rss {
			background-position: -1px -325px;
		}		
		&.facebook {
			background-position: -1px -2px;
		}
		&.twitter {
			background-position: -1px -279px;
		}
		&.googleplus {
			background-position: -1px -233px;
		}
		&.linkin {
			background-position: -1px -187px;
		}
		&.github {
			background-position: -1px -510px;
		}
		&.youtube {
			background-position: -1px -556px;
		}		
	}
}

