/*================================================================================================
	Stylesheet SCSS - Footer
==================================================================================================*/
.footer {
	margin: 20px 0;
	overflow: hidden;
	text-align: right;
	.copyright {
		color: #222;
		font-size: 0.875em;
		a {
			color: #000;
		}
	}
}