<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="branding">
        <h1 class="name"><span class="brackets">"</span><a href="#">Truong Van Thanh</a><span class="brackets">"</span></h1>
        <p class="slogan">front-end developer go straight</p>
      </div>
      <div class="avatar"><a href="#"><img class="avatar-me" src="img/avatar1.jpg" alt="font-end developer"></a></div>
    </div>
  </div>
  <!-- end header -->
  <div class="content">
    <div class="container">
      <div class="main">
        <div class="box block">
          <h2 class="title">Information</h2>
          <div class="info-detail">
            <p><b>Full name</b>: Trương Văn Thạnh</p>
            <p><b>Work at</b>: Evolable Asia Company</p>
            <p><b>Position</b>: Front-end Developer</p>
            <p><b>Email</b>: <a class="mail-me" href="mailto:truongvanthanhagu@gmail.com">truongvanthanhagu@gmail.com</a></p>
            <!-- <p><b>Maxim</b>: Luôn vận dụng chữ "NHẪN" trong cuộc sống và công việc</p> -->
          </div>
        </div>
        <div class="box block">
          <h2 class="title">The Articles Lastest</h2>
          <div class="article">
            <h3 class="title-article">Xu hướng của các designer và front-end dev</h3>
            <p class="date">Cập nhật <span>11</span>/ <span>07</span>/ <span>2013</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="article">
            <h3 class="title-article">Xu hướng của các designer và front-end dev</h3>
            <p class="date">Cập nhật <span>11</span>/ <span>07</span>/ <span>2013</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="article">
            <h3 class="title-article">Xu hướng của các designer và front-end dev</h3>
            <p class="date">Cập nhật <span>11</span>/ <span>07</span>/ <span>2013</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="article">
            <h3 class="title-article">Xu hướng của các designer và front-end dev</h3>
            <p class="date">Cập nhật <span>11</span>/ <span>07</span>/ <span>2013</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <!-- end main -->
      <div class="sidebar">
        <div class="box block">
          <div class="title">Navigation</div>
          <ul class="navi">
            <li><a class="active" href="#">Welcome</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Portfolio</a></li>            
          </ul>
        </div>
        <div class="box block">
          <div class="title">Social Widget</div>
          <ul class="social">
            <li><a class="icon-social rss" href="#">rss</a></li>
            <li><a class="icon-social facebook" target="_blank" href="https://www.facebook.com/truong.vanthanh.146">Facebook</a></li>
            <li><a class="icon-social twitter" target="_blank" href="https://twitter.com/TruongVanThanh3">Twitter</a></li>
            <li><a class="icon-social googleplus" target="_blank" href="https://plus.google.com/u/0/112763136048980394785/about">Google plus</a></li>
            <li><a class="icon-social linkin" target="_blank" href="http://lnkd.in/U7WwEJ">linkin</a></li>
            <li><a class="icon-social github" target="_blank" href="https://github.com/tvthanh">Github</a></li>
            <li><a class="icon-social youtube" target="_blank" href="https://youtube.com">Youtube</a></li>
          </ul>
        </div>
        <div class="box block">
          <div class="title">The Articles Lastest</div>
          <ul class="navi">
            <li><a href="#">Responsive design web là gì?</a></li>
            <li><a href="#">Tìm hiểu về css/sass với thư viện compass</a></li>
            <li><a href="#">Xu hướng của các designer và front-end dev</a></li>
            <li><a href="#">20 slideshow ảnh cần cho web</a></li>
            <li><a href="#">bxslider hữu dụng cho web designer</a></li>
          </ul>
        </div>        
      </div>
      <!-- end sidebar -->
    </div>
  </div>
  <!-- end content -->
  <div class="footer">
    <div class="container">
      <div class="copyright">CopyRight &copy; 2013. Created by <a href="mailto:truongvanthanhagu@gmail.com">Truong Van Thanh</a></div>
    </div>
  </div>
  <!-- end footer -->
</body>
</html>